body{
	background-color: #5C7473;
}

#displayBody{
	width: 350px;
}

#greeting{
	margin-left: 110px;
}

#tabButtons{
	margin-left: 85px;
}


/*
	custom css for popup buttons, might be too front heavy for actual use 
	but fine for right now
*/
.popButton {
	-moz-box-shadow:inset -1px 5px 8px 1px #91b8b3;
	-webkit-box-shadow:inset -1px 5px 8px 1px #91b8b3;
	box-shadow:inset -1px 5px 8px 1px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:12px 8px;
	text-decoration:none;
	text-shadow:0px 3px 0px #2b665e;
}
.popButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.popButton:active {
	position:relative;
	top:1px;
}
