html{
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: #3e454c;
	font-family: 'Montserrat', sans-serif;
}

/* #5C7473 */

#displayBody{
	width: 350px;
	padding: 0px;
}

/* this is the small menu bar in all views after login */
#optionBar{
	width: 100%;
	border: 1px solid #3e454c ;
    margin-left: 10px;
}

#optionBar *{
	margin-right: 4px;
	margin-left: 4px;
	font-size: 11px;

}

#optionBar *:hover{
	color: #fff;
  	background-color: #1784C7;
	
}

/* this is the div that holds all of the tab groups*/
#tabsList{
	margin-left: 20px;
	margin-top: 5px;
	padding: 5px 5px 5px 5px;
	background-color: #CFD8DC;
	width: 297.5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	overflow-x: 297.5px;
	overflow-y: hidden;
}

#tabsList *:hover{
	color: #fff;
  	background-color: #D9534F;
}

/* all of the titles for the extension */
.extTitle{
	font-family: 'Montserrat', sans-serif;
	margin-left: 72px;
	font-weight: bold;
	color: white;
}

#titleForTGs{
	margin-left: 100px;
}

#TabGroupTitle{
	margin-left: 100px;
}

#tabButtons{
	margin-left: 55px;
}

#landingPage{
	margin-left: 150px;
}

#loginINPUTDIV{
	margin-left: 55px;
}

#subButton{
	float: right;
	margin-right: 40px;
	margin-top: -21px;
	height: 43px;
}

#name{
	margin-top: -10px;
}

#newGroupDiv{
	display: inline-block;
	margin-left: 40px;
}

#newTabDiv{
	display: inline-block;
	margin-right: -30px;
}

#newTabInput{
	margin-top: 5px;
}


#newTabGROUP{
	display: none;
}
/* styling for group buttons */
.allTabs{
	margin-bottom: 5px;
}

.tabGroupButtons{
	margin-left: 80px;
}

/*
	custom css for popup buttons, might be too front heavy for actual use 
	but fine for right now
*/

.popButton {
  
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 13px;
  font-weight:bold;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
}


.popButton:hover {
  color: #fff;
  background-color: #4fd953;
}


